<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.hbaseassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="demo">
		<classes>
			<class
				name="idv.hsiehpinghan.hbaseassistant.entity.DemoTableTest" />
			<class
				name="idv.hsiehpinghan.hbaseassistant.repository.DemoTableRepositoryTest" />
		</classes>
	</test>
	
<!-- 	<test name="assistant"> -->
<!-- 		<classes> -->
<!-- 			<class name="idv.hsiehpinghan.hbaseassistant.assistant.HbaseAssistantTest" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->
<!-- 	<test name="entityAndRepository"> -->
<!-- 		<classes> -->
<!-- 			<class name="idv.hsiehpinghan.hbaseassistant.entity.TestTableTest" /> -->
<!-- 			<class -->
<!-- 				name="idv.hsiehpinghan.hbaseassistant.repository.TestTableRepositoryTest" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->
<!-- 	<test name="utility"> -->
<!-- 		<classes> -->
<!-- 			<class -->
<!-- 				name="idv.hsiehpinghan.hbaseassistant.utility.ByteConvertUtilityTest" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->
</suite>