<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.seleniumassistant.suit.TestngSuitSetting" />
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.seleniumassistant.browser.HtmlUnitBrowserTest" 
				/> -->
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.seleniumassistant.browser.FirefoxBrowserTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.seleniumassistant.webelement.SelectTest" 
				/> -->
			<class name="idv.hsiehpinghan.seleniumassistant.webelement.TableTest" />
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.seleniumassistant.utility.AjaxWaitUtilityTest" 
				/> -->
			<class
				name="idv.hsiehpinghan.seleniumassistant.webdriver.HtmlUnitDriverExtensionTest" />
		</classes>
	</test>
</suite>