<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.seleniumassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="browser">
		<classes>
			<class
				name="idv.hsiehpinghan.seleniumassistant.browser.HtmlUnitBrowserTest" />
			<class
				name="idv.hsiehpinghan.seleniumassistant.browser.FirefoxBrowserTest" />
		</classes>
	</test>
	<test name="webelement">
		<classes>
			<class name="idv.hsiehpinghan.seleniumassistant.webelement.SelectTest" />
			<class name="idv.hsiehpinghan.seleniumassistant.webelement.TableTest" />
		</classes>
	</test>
	<test name="utility">
		<classes>
			<class
				name="idv.hsiehpinghan.seleniumassistant.utility.AjaxWaitUtilityTest" />
		</classes>
	</test>
	<test name="pool">
		<classes>
			<class
				name="idv.hsiehpinghan.seleniumassistant.pool.HtmlUnitBrowserPoolTest" />
		</classes>
	</test>
</suite>