<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

	<batch:job id="contextJob">
		<batch:step id="contextReaderProcessorWriterStep" next="contextTaskletStep">
			<tasklet>
				<chunk reader="contextReader" writer="contextWriter"
					commit-interval="3">
				</chunk>
			</tasklet>
		</batch:step>
		<batch:step id="contextTaskletStep">
			<tasklet ref="contextTasklet"></tasklet>
		</batch:step>
	</batch:job>

	<!-- reader -->
	<bean id="contextReader"
		class="idv.hsiehpinghan.springbatchassistant.reader.ContextReader"
		scope="step">
	</bean>

	<!-- writer -->
	<bean id="contextWriter"
		class="idv.hsiehpinghan.springbatchassistant.writer.ContextWriter"
		scope="step">
	</bean>

	<!-- tasklet -->
	<bean id="contextTasklet"
		class="idv.hsiehpinghan.springbatchassistant.tasklet.ContextTasklet"
		scope="step">
	</bean>

</beans>
