<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.mahoutassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="assistant">
		<classes>
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.mahoutassistant.assistant.ClusterAssistantTest" 
				/> -->
			<class
				name="idv.hsiehpinghan.mahoutassistant.assistant.SequenceFilesAssistantTest" />
		</classes>
	</test>
</suite>