<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class
				name="idv.hsiehpinghan.springsocialfacebookassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="test">
		<classes>
			<class
				name="org.springframework.social.facebook.api.impl.FacebookTemplateTest" />
			<class
				name="idv.hsiehpinghan.springsocialfacebookassistant.service.InfoServiceTest" />
		</classes>
	</test>
</suite>