<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.springbatchassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="test">
		<classes>
			<!-- <class name="idv.hsiehpinghan.springbatchassistant.test.BasicTest" 
				/> -->
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.springbatchassistant.test.ExecutionContextTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.springbatchassistant.test.RestartableTest" 
				/> -->
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.springbatchassistant.test.JobExecutionListenerTest" 
				/> -->
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.springbatchassistant.test.DefaultJobParametersValidatorTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.springbatchassistant.test.StartLimitTest" 
				/> -->
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.springbatchassistant.test.AllowStartIfCompleteTest" 
				/> -->
			<class name="idv.hsiehpinghan.springbatchassistant.test.SkipTest" />
		</classes>
	</test>
</suite>