<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.mapreduceassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="test">
		<classes>
			<class name="idv.hsiehpinghan.mapreduceassistant.test.WordCountByJobTest" />
			<class name="idv.hsiehpinghan.mapreduceassistant.test.WordCountByJobClientTest" />
		</classes>
	</test>
</suite>