<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.hibernateassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="test">
		<classes>
			<!-- <class name="idv.hsiehpinghan.hibernateassistant.assistant.BasicTest" 
				/> -->
			<!-- <class -->
			<!-- name="idv.hsiehpinghan.hibernateassistant.assistant.AssociationTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.hibernateassistant.assistant.LifeCycleTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.hibernateassistant.assistant.SelectBeforeUpdateTest" 
				/> -->
			<class name="idv.hsiehpinghan.hibernateassistant.assistant.LockTest" />
			<!-- <class name="idv.hsiehpinghan.hibernateassistant.assistant.EvictTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.hibernateassistant.assistant.ClearTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.hibernateassistant.assistant.ReadOnlyTest" 
				/> -->
			<!-- <class name="idv.hsiehpinghan.hibernateassistant.assistant.FlushModeTest" 
				/> -->
		</classes>
	</test>
</suite>